
.footer {
    text-align: center;
    background-color: lightblue;

    font-size: 14px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 5px;
}

.adminButton {
    color: grey;
}
