.hocButton {

}



/***                            General Styles  ***/
.buttonLabel {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.buttonFullWidth {
	width: 100%;
}

.buttonDisabled {
	height: 40px;
	border-radius: 4px;
	background-color: #f7f9fa;
	border: solid 1px #ececf0;
	color: #cccccc;
}



/***                            Primary Styles  ***/
.buttonPrimaryActive {
	height: 40px;
	border-radius: 4px;
	background-color: #009eeb;
	outline: none;
}

.buttonPrimaryHover {
	height: 40px;
	border-radius: 4px;
	background-color: #33b1ef;
}

.buttonPrimaryPressed {
	height: 40px;
	border-radius: 4px;
	background-color: #007ebc;
}



/***                            Secondary Styles  ***/
.buttonSecondaryActive {
	height: 40px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #009eeb;
	outline: none;

	color: #33b1ef;
}

.buttonSecondaryHover {
	height: 40px;
	border-radius: 4px;
	background-color: #33b1ef;
	color: #ffffff;
}

.buttonSecondaryPressed {
	height: 40px;
	border-radius: 4px;
	background-color: #007ebc;
	color: #ffffff;
}



/***                            Success Styles  ***/
.buttonSuccessActive {
	height: 40px;
	border-radius: 4px;
	background-color: #5cb85c;
	outline: none;
}

.buttonSuccessHover {
	height: 40px;
	border-radius: 4px;
	background-color: #7cc67c;
}

.buttonSuccessPressed {
	height: 40px;
	border-radius: 4px;
	background-color: #499349;
}



/***                            Warning Styles  ***/
.buttonWarningActive {
	height: 40px;
	border-radius: 4px;
	background-color: #f6a623;
	outline: none;
}

.buttonWarningHover {
	height: 40px;
	border-radius: 4px;
	background-color: #f7b74f;
}

.buttonWarningPressed {
	height: 40px;
	border-radius: 4px;
	background-color: #c4841c;
}



/***                            Danger Styles  ****/
.buttonDangerActive {
	height: 40px;
	border-radius: 4px;
	background-color: #d0011b;
	outline: none;
}

.buttonDangerHover {
	height: 40px;
	border-radius: 4px;
	background-color: #d93448;
}

.buttonDangerPressed {
	height: 40px;
	border-radius: 4px;
	background-color: #a60115;
}





.smallButton {
	height: 30px;
	font-size: 14px;
}
