.ccJsonViewerComponent { /* stylelint-ignore */
	/*min-width: 300px;*/
	margin: 0 auto;
	/*display: block;*/
	/*float: right;*/
	padding: 4px;
	border: 2px dashed lightblue;
	background-color: #FFF;
	font-family: monospace;
	font-size: smaller;
}

/*.jsonViewerComponent pre {!* stylelint-ignore *! outline: 1px solid #ccc; padding: 5px; margin: 5px;}*/



